.root {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  box-shadow: var(--ant-box-shadow-card);
  border-radius: 8px;
}

.body {
  padding: 14px !important;
}
